.comment {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  font-size: 1rem;
}

.comment > img {
  margin-right: 0.7rem;
}

.comment-container {
  background: #eee;
  border-radius: 1rem;
  padding: 1rem;
  color: #3e3e3e;
}

@media (max-width: 420px) {
  .comment > img {
    display: none;
  }
}
